<mat-toolbar color="primary">
    <div class="left-section">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="logo">
            <img src="assets/logo.png" alt="Kanban Logo" class="logo-image">
        </div>
    </div>
    <div class="middle-section">
        <!-- Eliminamos la navegación de Home, Tasks y About -->
    </div>
    <div class="right-section">
        <!-- Mostrar estos botones si NO está autenticado -->
        <ng-container *ngIf="!(isLoggedIn$ | async)">
            <a routerLink="/login" class="auth-button">Login</a>
            <a routerLink="/register" class="auth-button">Register</a>
        </ng-container>
        
        <!-- Mostrar solo logout si está autenticado -->
        <ng-container *ngIf="isLoggedIn$ | async">
            <button mat-button class="auth-button" (click)="logout()">Logout</button>
        </ng-container>
    </div>
</mat-toolbar>
